[submodule "cross-view-image-synthesis"]
	path = cross-view-image-synthesis
	url = git@github.com:rachelzh9/cross-view-image-synthesis.git
[submodule "viewformer"]
	path = viewformer
	url = https://github.com/snshen/viewformer
